body {
	font-family: Verdana, Arial, Helvetica;
	background-color: #666666;
}
#wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	background-color: #FFFFFF;
}
#wrapper #footer {
	background-color: #6699FF;
	position: relative;
	height: 50px;
	bottom: auto;
	width: 960px;
	top: auto;
	clear: both;
}

#wrapper #Top {
	background-color: #003399;
	color: #FFFFFF;
}
#wrapper #leftSide {
	background-color: #6699FF;
	width: 198px;
	float: left;
	clear: both;
}

.nav {
	background-color: #6699FF;
        padding-bottom: 3px;
        padding-top: 1px;
        padding-left: 10px;
        padding-right: 2px;
}

.nav:hover {
	cursor: pointer;
	background-color: #003399;
}


#wrapper #mainContent{
	position: relative;
	float: right;
	width: 760px;
	height: 700px;
	overflow: auto;
}


.ajaxLoader{
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
        width: 64px;
	
}



.classAttend{

}



.classDate{
	display: inline-block;
	width: 200px;
	padding: 5px;
	
	
}

.classAttended{
	display: inline-block;
	width: 200px;	
	padding: 5px;
}

.classReason{
	display: inline-block;
	width: 200px;
	padding: 5px;	
}

.classUserID{
	display: inline-block;
	width: 200px;
	padding: 5px;	
}

.QRimage{
        margin-left: auto;
        margin-right: auto;
	width: 600px;
 	padding: 5px;       
        padding-top: 0px;
}

.QRimage img{
	width: 500px;
}

.fullScreenQR{
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        text-align: center;
        font-size: 20px;
        color: #000000;
    	background-color: #6699FF;
    
}

.fullScreenQR :hover{
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        text-align: center;
        font-size: 20px;
    	background-color: #A60000;
}



.newQRButton{
	display: inline-block;
	width: 200px;
	padding: 5px;	
}

.lectRptUsername{
 	display: inline-block;
        width: 200px;
        padding: 1px;
}

.lectRptName{
  	display: inline-block;  
        width: 200px;
        padding: 1px;        
}

.lectRptAverage{
 	display: inline-block;
        width: 200px;
        text-align: right;
        padding: 1px;    
}
.TlectRptUsername{
 	display: inline-block;
        width: 200px;
        padding: 1px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 20px;
}

.TlectRptName{
  	display: inline-block;  
        width: 200px;
        padding: 1px;        
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 20px;
}

.TlectRptAverage{
 	display: inline-block;
        width: 200px;
        text-align: right;
        padding: 1px;    
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 20px;
}

.stuAttendRecord {
        background-color: #FFFFFF;
        width: 700px; 
}

.stuAttendRecord :hover{
    	cursor: pointer;
        background-color: #A60000;
}


.stuModName{
  	display: inline-block;  
        width: 350px;
        padding: 1px;        
}

.stuModAverage{
 	display: inline-block;
        width: 150px;
        text-align: right;
        padding: 1px;    
}




#wrapper #Top #loginContainer #loginStatus {
	padding: 5px;
}
#wrapper #Top #siteTitle {
	font-family: Verdana, Arial, Helvetica;
	font-size: 50px;
	font-style: italic;
	width: 450px;
	display: inline-block;
	float: left;
	margin-left: 20px;
	font-weight: bolder;
	color: #6699FF;
}
h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #003399;
}

#footer #footLeft {
	display: inline-block;
	width: 320px;
}
#footer #footMiddle {
	display: inline-block;
	width: 320px;
}


#footer #footRight {
	display: inline-block;
	width: 300px;
}
.footerIcons {
	display: inline-block;
	float: right;
	padding: 5px;
	vertical-align: central;
}

a {
	color: rgba(255,255,255,1);
}
