body {
	font-family: Verdana, Arial, Helvetica;
	background-color: #666666;
}
#wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	background-color: #FFFFFF;
}
#wrapper #footer {
	background-color: #6699FF;
	position: relative;
	height: 50px;
	bottom: auto;
	width: 960px;
	top: auto;
	clear: both;
}

#wrapper #Top {
	background-color: #003399;
	color: #FFFFFF;
}
#wrapper #leftSide {
	background-color: #6699FF;
	width: 198px;
	float: left;
	clear: both;
}
#wrapper #leftSide li {
	clear: both;
	list-style-type: none;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	color: #ffffff;
	font-weight: bold;
}
#wrapper #Top #topNav #buttonContainer {
	float: right;
	margin-right: 10px;
}
#wrapper #Top #topNav #buttonContainer li {
	list-style-type: none;
	display: inline;
	background-color: #6699FF;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid rgba(0,0,0,1);
	border-radius: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #ffffff;
}
#wrapper #Top #topNav #buttonContainer li:hover {
	background-color: #A60000;
	color: #ffffff;

}



#wrapper #leftSide li:hover {
	cursor: pointer;
	background-color: #003399;
}

.nav {
	background-color: #6699FF;
}

.nav:hover {
	cursor: pointer;
	background-color: #003399;
}


#wrapper #mainContent{
	position: relative;
	float: right;
	width: 760px;
	height: 700px;
	overflow: auto;
}
#xmlcourses #ajaxLoader {
	margin-top: 50px;
	margin-left: 280px;
}
#xmlcourses {

}


.ajaxLoader{
	margin-left: auto;
	margin-right: auto;
	
	
}



.classAttend{

}



.classDate{
	display: inline-block;
	width: 200px;
	padding: 5px;
	
	
}

.classAttended{
	display: inline-block;
	width: 200px;	
	padding: 5px;
}

.classReason{
	display: inline-block;
	width: 200px;
	padding: 5px;	
}

.classUserID{
	display: inline-block;
	width: 200px;
	padding: 5px;	
}


.newQRButton{
	display: inline-block;
	width: 200px;
	padding: 5px;	
}


.courseTop {
	height: 36px;
	color: #FFFFFF;
	background-color: #6699FF;
	border-radius: 8px;
}

.courseMiddle {
	height: 110px;
	display: inline-block;
	width: auto;
}

.courseFootUpper {
	height: 20px;
}

.courseFootLower {
	height: 30px;
	color: #FFFFFF;
	background-color: #6699FF;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}



#wrapper #Top #loginContainer #loginStatus {
	padding: 5px;
}
#wrapper #Top #siteTitle {
	font-family: Verdana, Arial, Helvetica;
	font-size: 50px;
	font-style: italic;
	width: 450px;
	display: inline-block;
	float: left;
	margin-left: 20px;
	font-weight: bolder;
	color: #6699FF;
}
h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #003399;
}

.ParticipantProfile {
	display: inline-block;
	width: 250px;
	height: 20px;
	padding-left: 10px;
}

#footer #footLeft {
	display: inline-block;
	width: 320px;
}
#footer #footMiddle {
	display: inline-block;
	width: 320px;
}


#footer #footRight {
	display: inline-block;
	width: 300px;
}
.footerIcons {
	display: inline-block;
	float: right;
	padding: 5px;
	vertical-align: central;
}

a {
	color: rgba(255,255,255,1);
}
